<footer class="bg-maroon text-center text-white">

    <!-- Grid container -->
    <div class="container p-4">

      <!-- Section: Social media -->
      <section>
        <!-- Email -->
        <a class="btn btn-outline-light btn-floating m-1 fs-4" href="mailto:esports.uottawa@gmail.com" target="_blank" role="button"
          ><i class="fas fa-envelope fs-3"></i
        ></a>

        <!-- Discord -->
        <a class="btn btn-outline-light btn-floating m-1 fs-4" href="https://discord.gg/uAbd5uRTCA" target="_blank" role="button"
          ><i class="fab fa-discord fs-3"></i></a>
  
        <!-- Facebook -->
        <a class="btn btn-outline-light btn-floating m-1 fs-4" href="https://www.facebook.com/uOttawaEsports" target="_blank" role="button"
          ><i class="fab fa-facebook-square fs-3"></i
        ></a>
  
        <!-- Instagram -->
        <a class="btn btn-outline-light btn-floating m-1 fs-4" href="https://www.instagram.com/uottawaesports/" target="_blank" role="button"
          ><i class="fab fa-instagram fs-3"></i
        ></a>

        <!-- Twitch -->
        <a class="btn btn-outline-light btn-floating m-1 fs-4" href="https://www.twitch.tv/uottawaesports" target="_blank" role="button"
          ><i class="fab fa-twitch fs-3"></i
        ></a>
  
        <!-- Twitter -->
        <a class="btn btn-outline-light btn-floating m-1 fs-4" href="https://twitter.com/uOttawaEsports" target="_blank" role="button"
          ><i class="fab fa-twitter fs-3"></i
        ></a>

        <!-- YouTube -->
        <a class="btn btn-outline-light btn-floating m-1 fs-4" href="https://www.youtube.com/channel/UCZYAfKclLKB3WN7ZBwUmgoQ" target="_blank" role="button"
          ><i class="fab fa-youtube fs-3"></i
        ></a>
      </section>
      <!-- Section: Social media -->

    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-2" style="background-color: rgba(0, 0, 0, 0.3);">
      Proud club of <a class="text-white" href="https://www.cvuo.ca/home/" target="_blank">CVUO</a>.<br />&copy; uOttawa Esports 2021
    </div>
    <!-- Copyright -->
    
  </footer>