<footer class="bg-maroon text-center text-white">
  <div class="container p-4">
    <section>
      <a class="btn btn-outline-light btn-floating m-1 fs-4" href="https://discord.gg/uAbd5uRTCA" title="Discord"
        target="_blank" role="button"><i class="fab fa-discord fs-3"></i></a>
      <a class="btn btn-outline-light btn-floating m-1 fs-4" href="https://www.facebook.com/uOttawaEsports"
        title="Facebook" target="_blank" role="button"><i class="fab fa-facebook-square fs-3"></i></a>
      <a class="btn btn-outline-light btn-floating m-1 fs-4" href="https://www.instagram.com/uottawaesports/"
        title="Instagram" target="_blank" role="button"><i class="fab fa-instagram fs-3"></i></a>
      <a class="btn btn-outline-light btn-floating m-1 fs-4" href="https://www.twitch.tv/uottawaesports" title="Twitch"
        target="_blank" role="button"><i class="fab fa-twitch fs-3"></i></a>
      <a class="btn btn-outline-light btn-floating m-1 fs-4" href="https://twitter.com/uOttawaEsports" title="Twitter"
        target="_blank" role="button"><i class="fab fa-twitter fs-3"></i></a>
      <a class="btn btn-outline-light btn-floating m-1 fs-4"
        href="https://www.youtube.com/channel/UCZYAfKclLKB3WN7ZBwUmgoQ" title="YouTube" target="_blank" role="button"><i
          class="fab fa-youtube fs-3"></i></a>
    </section>
  </div>
  <div id="footer-content" class="bg-darkmaroon text-center p-2"></div>
</footer>