/* Custom classes */

.bg-gold {
    background-color: #665814;
}

.bg-silver {
    background-color: #575757;
}

.bg-bronze {
    background-color: #73513A;
}

.blue-link a {
    color: #5fb7ff;
}

.blue-link a:hover {
    color: #229bff;
}