/* Default CSS */

a {
    width: 18rem;
}

/* Existing classes */

.container-fluid {
    background-image: linear-gradient(#000000cc, #000000cc), url(https://github.com/uOttawaEsports/uottawaesports.ca/blob/main/images/taberet-hall.jpg?raw=true);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 25%;
    height: 100vh;
    display: flex;
    flex-direction: column;  /* make main axis vertical */
    justify-content: center; /* center items vertically */
    align-items: center;     /* center items horizontally */
}

.row {
    text-align: center; /* centers <p> */
}

/* Custom classes */

.bg-maroon {
    background-color: #800020;
}
