/* Custom IDs */

#contact-background {
    background-image: linear-gradient(#000000a6, #000000a6), url(../images/clubs-week.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 55%;
    background-position-y: 15%;
    background-attachment: scroll;
}

#contact {
    height: 100%;
}

#contact a {
    color: #5fb7ff;
}

#contact a:hover {
    color: #229bff;
}

#contact img {
    width: 100%;
}

/* Existing classes */

.card {
    margin: 4rem 3rem 4rem 3rem;
}

/* Custom classes */

.error {
    border: solid #dc3545;
}

.error:focus {
    color: #212529;
    background-color: #fff;
    border-color: #dc3545;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(220, 53, 70, 0.25);
}

.valid {
    border: solid #008b2e;
}

.valid:focus {
    color: #212529;
    background-color: #fff;
    border-color: #008b2e;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(220, 53, 70, 0.25);
}

.required:after {
    content: " *";
    font-weight: bold;
    color: #FF0000;
}

/* Style for Small Screen */

@media (max-width:575px) {
    .card {
        margin: 1rem 0 1rem 0;
    }
}