/* Custom IDs */

#contests {
    background-image: linear-gradient(#000000dc, #000000dc), url(../images/events/content/contests.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 20%;
}

#in-houses {
    background-image: linear-gradient(#000000dc, #000000dc), url(../images/events/content/in-houses.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 20%;
}

#tournaments {
    background-image: linear-gradient(#000000dc, #000000dc), url(../images/events/content/tournaments.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 20%;
}

#information-button {
    color: #800020;
    position: fixed;
    right: 0rem;
    bottom: 0rem;
    box-shadow: 0 0 2rem #000000;
    transition-duration: 0.2s;
}

#information-button:hover {
    box-shadow: 0 0 1rem #ffffff;
    transition-duration: 0.2s;
}

/* Custom classes */

.crd a {
    color: #C70024;
}

.card a:hover {
    color: #800020;
}

.crd-img {
    border-radius: 8%;
}

.crd-txt a {
    color: #ffc5d0;
}

.crd-txt a:hover {
    color: #ffaebd;
}

.information {
    width: 15rem;
    background: #FFFFFF;
    border-radius: 0.5rem;
    padding: 20px;
    color: #000000;
    position: fixed;
    right: 4rem;
    bottom: 6rem;
}

.information a {
    color: #c70024;
}

.information a:hover {
    color: #800020;
}

.information:before {
    content: "";
    position: absolute;
    border-left: 0.625rem solid transparent;
    border-right: 0.625rem solid #FFFFFF;
    border-top: 0.625rem solid #FFFFFF;
    border-bottom: 0.625rem solid transparent;
    right: 1.188rem;
    bottom: -1.188rem;
}

/* Change carousel size for smaller screens */

@media (min-width: 992px) {
    #carousel {
        width: 50%;
    }
}

@media (max-width: 992px) {
    #carousel {
        width: 100%;
    }
}

/* Style for event cards */

@media (min-width: 992px) {
    .crd-img {
        height: 160px;
        width: 160px;
    }
    .crd-ttl {
        text-align: left;
    }
}

@media (min-width: 576px) and (max-width: 991px) {
    .crd-img {
        height: 140px;
        width: 140px;
    }
    .crd-ttl {
        text-align: left;
    }
}

@media (max-width: 575px) {
    .crd-img {
        height: 15rem;
        width: 15rem;
    }
    .crd-ttl {
        text-align: center;
    }
}