/* Default CSS */

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* Custom IDs */

#execs-background {
    background: linear-gradient(90deg, #000000, #800020, #000000);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
}

#execs {
    margin-top: 4.2rem;
}

/* Custom classes */

.text-shadow {
    text-shadow: 0.2rem 0.2rem #ffffff48;
}

/* Existing classes */

.card {
    width: 17.5rem;
    cursor: pointer;
    transition-duration: 0.1s;
}

.card img {
    padding-top: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-radius: 50%;
    height: 14.4rem;
    width: 100%;
}

.card:hover {
    box-shadow: 0 0 2rem rgba(255, 255, 255, 0.75);
    transition-duration: 0.1s;
}

.modal-body img {
    border-radius: 50%;
    width: 100%;
}