/* Custom IDs */

#welcome {
    background-image: linear-gradient(#000000a6, #000000a6), url(../images/uottawa-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 85%;
    background-position-y: 15%;
    background-attachment: scroll;
}

/* Custom classes */

.blue-link a {
    color: #5fb7ff;
}

.blue-link a:hover {
    color: #229bff;
}

.crd a {
    color: #C70024;
}

.card a:hover {
    color: #800020;
}

.crd-img {
    border-radius: 8%;
}

.crd-txt a {
    color: #ffc5d0;
}

.crd-txt a:hover {
    color: #ffaebd;
}

/* Style for extra large screen */

@media (max-width: 1200px) {
    #welcome iframe {
        height: 15.625rem;
    }
}

/* Style for large screen */

@media (max-width: 992px) {
    #welcome iframe {
        height: 31.25rem;
    }
}

/* Style for small screen */

@media (max-width: 575px) {
    #welcome iframe {
        height: 14.063rem;
    }
}

/* Style for event cards */

@media (min-width: 992px) {
    .crd-img {
        height: 9.75rem;
        width: 9.75rem;
    }
    .crd-ttl {
        text-align: left;
    }
}

@media (min-width: 576px) and (max-width: 991px) {
    .crd-img {
        height: 8.25rem;
        width: 8.25rem;
    }
    .crd-ttl {
        text-align: left;
    }
}

@media (max-width: 575px) {
    .crd-img {
        height: 15rem;
        width: 15rem;
    }
    .crd-ttl {
        text-align: center;
    }
}