/* Default CSS */

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* Custom IDs */

#past {
    margin-top: 4.2rem;
    background: linear-gradient(90deg, #000000, #800020, #000000);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
}

/* Custom classes */

.text-shadow {
    text-shadow: 0.2rem 0.2rem #ffffff48;
}

/* Existing classes */

.card img {
    padding-top: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    height: 28rem;
    width: 100%;
}

.card {
    width: 32rem;
}