/* Default CSS */

body {
    overflow-x: hidden; /* disable horizontal scroll */
    overflow-y: scroll;
}

footer {
    position: block;
    bottom: 0;
    width: 100%;
}

/* Custom IDs */

#navbar a {
    color: #FFFFFFdc;
}

#navbar a:hover {
    color: #FFFFFF;
    background-color: #212529;
    border-radius: .25rem;
}

#navbar a::selection {
    background-color: #303031;
}

#navbar .dropdown-menu {
    background-color: #494949;
}

/* Existing classes */

.active {
    color: #FFFFFF;
    background-color: #212529a1;
    border-radius: .25rem;
}

/* Custom classes */

.bg-maroon {
    background-color: #800020;
}

.bg-grey {
    background-color: #303031;
}

.border-right {
    border-right: 0.12rem solid #FFFFFF;
}

.dropdown-item:active {
    background-color: #FF3A7F;
}

/* Existing classes */
.row {
    margin-right: 0;
    margin-left: 0;
}

/* Style for Small-Medium Screen */
@media (min-width: 992px) and (max-width:1086px) {
    #hamburger .nav-link {
        font-size: 0.83874rem;
    }
}

/* Style for Medium-Large Screen */
@media (min-width: 1087px) and (max-width:1182px) {
    #hamburger .nav-link {
        font-size: 1.04374rem;
    }
}