/* Existing classes */

.container-fluid {
    background-image: linear-gradient(#000000a6, #000000a6), url(../images/meet-and-greet.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 25%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* make main axis vertical */
    justify-content: center;
    /* center items vertically */
    align-items: center;
    /* center items horizontally */
    overflow-y: hidden;
}

/* Custom classes */

.bg-sent {
    background-color: #ecffee;
}