/* Custom IDs */

#information-button {
    color: #800020;
    position: fixed;
    right: 0rem;
    bottom: 0rem;
    box-shadow: 0 0 2rem #000000;
    transition-duration: 0.2s;
}

#information-button:hover {
    box-shadow: 0 0 1rem #ffffff;
    transition-duration: 0.2s;
}

#header {
    background: linear-gradient(45deg, #000000, #800020);
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
}

#nav-sticky {
    /* position: relative; */
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

#nav-sticky img {
    width: 75%;
}

/* Button backgrounds */

#apex-bg {
    background-image: url(../images/teams/buttons/cod-bg.jpg);
}

#cod-bg {
    background-image: url(../images/teams/buttons/cod-bg.jpg);
}

#csgo-bg {
    background-image: url(../images/teams/buttons/csgo-bg.jpg);
}

#csgo-bg {
    background-image: url(../images/teams/buttons/csgo-bg.jpg);
}

#dota2-bg {
    background-image: url(../images/teams/buttons/dota2-bg.jpg);
}

#fortnite-bg {
    background-image: url(../images/teams/buttons/fortnite-bg.jpg);
}

#hs-bg {
    background-image: url(../images/teams/buttons/hs-bg.jpg);
}

#lol-bg {
    background-image: url(../images/teams/buttons/lol-bg.jpg);
}

#osu-bg {
    background-image: url(../images/teams/buttons/osu-bg.jpg);
}

#ow-bg {
    background-image: url(../images/teams/buttons/ow-bg.jpg);
}

#r6-bg {
    background-image: url(../images/teams/buttons/r6-bg.jpg);
}

#rl-bg {
    background-image: url(../images/teams/buttons/rl-bg.jpg);
}

#ssbu-bg {
    background-image: url(../images/teams/buttons/ssbu-bg.jpg);
}

#val-bg {
    background-image: url(../images/teams/buttons/val-bg.jpg);
}

/* Content backgrounds */

#apex-legends {
    scroll-margin-top: 4.375rem;
    background-image: linear-gradient(#000000dc, #000000dc), url(../images/teams/content/cod-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 50%;
}

#call-of-duty {
    scroll-margin-top: 4.375rem;
    background-image: linear-gradient(#000000dc, #000000dc), url(../images/teams/content/cod-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 50%;
}

#csgo {
    scroll-margin-top: 4.375rem;
    background-image: linear-gradient(#000000dc, #000000dc), url(../images/teams/content/csgo-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 80%;
    background-position-y: 0%;
}

#dota-2 {
    scroll-margin-top: 4.375rem;
    background-image: linear-gradient(#000000dc, #000000dc), url(../images/teams/content/dota2-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 50%;
}

#fortnite {
    scroll-margin-top: 4.375rem;
    background-image: linear-gradient(#000000dc, #000000dc), url(../images/teams/content/fortnite-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 50%;
}

#hearthstone {
    scroll-margin-top: 4.375rem;
    background-image: linear-gradient(#000000dc, #000000dc), url(../images/teams/content/hs-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 50%;
}

#league-of-legends {
    scroll-margin-top: 4.375rem;
    background-image: linear-gradient(#000000dc, #000000dc), url(../images/teams/content/lol-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 50%;
}

#osu {
    scroll-margin-top: 4.375rem;
    background-image: linear-gradient(#000000dc, #000000dc), url(../images/teams/content/osu-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 0%;
    background-position-y: 0%;
}

#overwatch {
    scroll-margin-top: 4.375rem;
    background-image: linear-gradient(#000000dc, #000000dc), url(../images/teams/content/ow-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 50%;
}

#rainbow-six-siege {
    scroll-margin-top: 4.375rem;
    background-image: linear-gradient(#000000dc, #000000dc), url(../images/teams/content/r6-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 50%;
}

#rocket-league {
    scroll-margin-top: 4.375rem;
    background-image: linear-gradient(#000000dc, #000000dc), url(../images/teams/content/rl-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 50%;
}

#smash-ultimate {
    scroll-margin-top: 4.375rem;
    background-image: linear-gradient(#000000dc, #000000dc), url(../images/teams/content/ssbu-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 50%;
}

#valorant {
    scroll-margin-top: 4.375rem;
    background-image: linear-gradient(#000000dc, #000000dc), url(../images/teams/content/val-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 50%;
}

/* Custom classes */

.bg-gold {
    background-color: #665814;
}

.btn-team {
    border: 0;
    width: 10rem;
}

.hover-button {
    box-shadow: 0 0 2rem #000000;
    transition-duration: 0.2s;
    border-radius: 2rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 50%;
}

.hover-button:hover {
    box-shadow: 0 0 1rem #ffffff;
    transition-duration: 0.2s;
}

.information {
    width: 15rem;
    background: #FFFFFF;
    border-radius: 0.5rem;
    padding: 20px;
    color: #000000;
    position: fixed;
    right: 4rem;
    bottom: 6rem;
}

.information a {
    color: #c70024;
}

.information a:hover {
    color: #800020;
}

.information:before {
    content: "";
    position: absolute;
    border-left: 0.625rem solid transparent;
    border-right: 0.625rem solid #FFFFFF;
    border-top: 0.625rem solid #FFFFFF;
    border-bottom: 0.625rem solid transparent;
    right: 1.188rem;
    bottom: -1.188rem;
}

.team-bg img {
    width: 100%;
}

.team-logo img {
    width: 60%;
}

/* Disable teams navigation on smaller screens */

@media only screen and (max-width: 992px) {
    #teams-navigation {
        display: none;
    }
}

/* Team logos on smaller screens */

@media (max-width: 992px) {
    .team-logo img {
        width: 35%;
    }
    #teams-content {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .team-logo img {
        width: 50%;
    }
}