/* Custom IDs */

#header {
    background: linear-gradient(45deg, #000000, #800020);
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
}

#nav-sticky {
    /* position: relative; */
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

#nav-sticky img {
    width: 75%;
}

/* Button backgrounds */ 
#csgo-bg {
    background-image: url(../images/teams/buttons/csgo-bg.png);
}

#dota2-bg {
    background-image: url(../images/teams/buttons/dota2-bg.png);
}

#lol-bg {
    background-image: url(../images/teams/buttons/lol-bg.png);
}

#r6-bg {
    background-image: url(../images/teams/buttons/r6-bg.png);
}

#rl-bg {
    background-image: url(../images/teams/buttons/rl-bg.png);
}

#val-bg {
    background-image: url(../images/teams/buttons/val-bg.png);
}

/* Content backgrounds */
#csgo {
    scroll-margin-top: 4.375rem;
    background-image: linear-gradient(#000000a6, #000000a6), url(../images/teams/content/csgo-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 20%;
}

#dota2 {
    scroll-margin-top: 4.375rem;
    background-image: linear-gradient(#000000a6, #000000a6), url(../images/teams/content/dota2-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 50%; 
}

#league-of-legends {
    scroll-margin-top: 4.375rem;
    background-image: linear-gradient(#000000a6, #000000a6), url(../images/teams/content/lol-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 50%;
}

#rainbow-six-siege {
    scroll-margin-top: 4.375rem;
    background-image: linear-gradient(#000000a6, #000000a6), url(../images/teams/content/r6-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 50%;
}

#rocket-league {
    scroll-margin-top: 4.375rem;
    background-image: linear-gradient(#000000a6, #000000a6), url(../images/teams/content/rl-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 50%;
}

#valorant {
    scroll-margin-top: 4.375rem;
    background-image: linear-gradient(#000000a6, #000000a6), url(../images/teams/content/val-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 50%;
}

/* Custom classes */

.hover-button{
    box-shadow: 0 0 2rem #000000;
    transition-duration: 0.2s;
    border-radius: 2rem;
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 50%;
}

.hover-button:hover {
    box-shadow: 0 0 1rem #ffffff;
    transition-duration: 0.2s;
}

.team-bg img {
    width: 100%;
}

.team-logo img {
    width: 75%;
}

/* Disable teams navigation on smaller screens */

@media only screen and (max-width: 992px) {
    #teams-navigation {
        display: none;
    }
}

/* Team logos on smaller screens */

@media (max-width: 992px) {
    .team-logo img {
        width: 35%;
    }

    #teams-content {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .team-logo img {
        width: 50%;
    }
}

/* Keyframes */

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}